#main {
    height: 1600px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.blog-title {
    text-decoration: underline;
}

.blog-content {
    font-size: 1.25em;
}

.blog-link {
    text-decoration: underline;
}