* {
    font-family: 'Poppins';
}

#header {
    background-color: #0da2a6;
    padding: 10px;
    width: 100%;
}

#header-img {
    height: 50px;
    width: 50px;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
}

#button-img {
    height: 200px;
    width: 200px;
    display: inline-block;
    float: left;
}

#header-title {
    font-weight: 500;
}

#main {
    background-color: lightgray;
    height: 600px;
}

#main-text {
    font-size: 6em;
    font-weight: 500;
}

#explore {
    height: 400px;
}

#learn {
    height: 400px;
}

#explore-text {
    font-size: 5em;
    font-weight: 700;
    position: absolute;
    color: #f05e32;
}

#learn-text {
    font-size: 5em;
    font-weight: 700;
    position: absolute;
    color: #3acf73;
}

.list {
    padding-top: 150px;
}

.email-list {
    background-color: #0da2a6;
}

.copy {
    background-color: #f05e32;
}